.root {

}

.console-output-item {
    -fx-cursor: hand;
}

.console-output-item:hover {
    -fx-background-color: #e8ebef;
}

.list-item {
    -fx-cursor: hand;
}

.list-item:hover {
    -fx-background-color: #DDE0E4;
}

.audiotracks-list-item-normal:hover {
    -fx-background-color: #DDE0E4;
}

.audiotracks-list-item-selected {
    -fx-background-color: #b7d3dd;
}

.button-icon {
    -fx-background-color:
    linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);

    -fx-border-insets: -2;
    -fx-border-radius: 3,3,3,3;
    -fx-border-color: linear-gradient(#222226, #a6b0b2);

    -fx-background-radius: 1,0,3;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-padding: 4 4 4 4;

    -fx-cursor: hand;
}

.button-icon:hover {
    -fx-background-color:
    linear-gradient(#25b0d1, #2443b1),
    linear-gradient(#dfdfdf 0%, #b9b9b9 20%, #afafaf 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);

    -fx-border-insets: -2;
    -fx-border-radius: 3,3,3,3;
    -fx-border-color: linear-gradient(#1b2226, #728db2);

    -fx-background-radius: 1,0,3;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-padding: 4 4 4 4;
}