

.section .title {
    -fx-background-color:
    #414142,
    linear-gradient(#c3c5b6 0%, #959697 40%, #4f4e51 100%),
    linear-gradient(#636360, #434340);
    -fx-background-radius: 3,3,3,3;
    -fx-background-insets: 0,1,2,0;

    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 3, 0.0 , 0 , 1 );

    -fx-padding: 0;
}
.section .title .text {
    -fx-effect: dropshadow( one-pass-box , rgba(36, 36, 36, 0.90), 1, 0.0 , 0 , 1 );
    -fx-font-weigh: bold;
}

.section .content {
    -fx-border-color: #393939;
    -fx-background-color:
    linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 3,1,1;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.section > .title > .arrow-button .arrow
{
    -fx-shape: none;
    -fx-padding: 0;
}
.section > .title > .arrow-button
{
    -fx-shape: none;
    -fx-padding: 0;
}

.section .title .num {
    -fx-background-color:
    #253463,
    linear-gradient(#7ebcea, #2f4b8f),
    linear-gradient(#426ab7, #263e75),
    linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 5,1,1,1;
    -fx-padding: 4 4 4 4;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.root {
    -fx-background-color: rgba(0,0,0,0.08), #a9acad;
}
