.band {
    -fx-background-color:
    #414142,
    linear-gradient(#c3c5b6 0%, #959697 40%, #4f4e51 100%),
    linear-gradient(#636360, #434340);
    -fx-background-radius: 3,3,3,3;
    -fx-background-insets: 0,1,2,0;

    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 3, 0.0 , 0 , 1 );

    /*-fx-text-fill: white;

    -fx-font-family: "Arial Narrow";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;*/

}

.band:hover {
    -fx-background-color:
    #414142,
    linear-gradient(#c3c5b6 0%, #959697 40%, #4f4e51 100%),
    linear-gradient(#42423f, #2a2a27);
    -fx-background-radius: 3,3,3,3;
    -fx-background-insets: 0,1,2,0;

    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 3, 0.0 , 0 , 1 );
}

.band .text {
    -fx-effect: dropshadow( one-pass-box , rgba(36, 36, 36, 0.90), 1, 0.0 , 0 , 1 );
}

.band .num-usedccc {
    -fx-background-color:
    #875e26,
    linear-gradient(#eaa91f, #be8e36),
    linear-gradient(#ab7025, #755514),
    linear-gradient(#ab7025, #684a11);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 5,1,1,1;
    -fx-padding: 11 10 11 10;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.band .num-not-used {
    -fx-background-color:
    #253463,
    linear-gradient(#7ebcea, #2f4b8f),
    linear-gradient(#426ab7, #263e75),
    linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 5,1,1,1;
    -fx-padding: 11 10 11 10;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.band .num-used {
    -fx-background-color:
    #0d6063,
    linear-gradient(#2ad3ea, #25b4ca),
    linear-gradient(#10b6b7, #199ba2),
    linear-gradient(#0b9dab, #075f68);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 5,1,1,1;
    -fx-padding: 11 10 11 10;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.band .btn {
    -fx-background-color:
    linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);

    -fx-border-insets: -2;
    -fx-border-radius: 3,3,3,3;
    -fx-border-color: linear-gradient(#222226, #a6b0b2);

    -fx-background-radius: 1,0,3;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-padding: 2 5 2 5;
}

.band .btn:hover {
    -fx-background-color:
    linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);

    -fx-border-insets: -2;
    -fx-border-radius: 3,3,3,3;
    -fx-border-color: linear-gradient(#222226, #a6b0b2);

    -fx-background-radius: 1,0,3;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-padding: 4 7 4 7;
}