#progress_barDuration {
    -fx-max-height: 8;
}
#progress_barDuration .bar {
    /*-fx-background-color: #00BBCC;*/
    -fx-background-color: rgba(0,0,0,0.08), linear-gradient(#00E9FF, #006069);
    -fx-background-radius: 5,5,4;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0;
}

#progress_barDuration .track {
    -fx-background-color: rgba(0,0,0,0.08), linear-gradient(#DBDBDB, #7C7C7C);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;

    -fx-border-insets: -1;
    -fx-border-radius: 5,5,4;
    -fx-border-color: linear-gradient(#0A5157, #D8E3E5);
}

#label_timeAlt {
    -fx-background-color: rgba(0,0,0,0.08), linear-gradient(#DBDBDB, #7C7C7C);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;

    -fx-border-insets: -1;
    -fx-border-radius: 5,5,4;
    -fx-border-color: linear-gradient(#0A5157, #D8E3E5);
}


#slider_barVolume .track {
    -fx-background-color: rgba(0,0,0,0.08), linear-gradient(#DBDBDB, #7C7C7C);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;

    -fx-border-insets: -1;
    -fx-border-radius: 5,5,4;
    -fx-border-color: linear-gradient(#0A5157, #D8E3E5);

    -fx-pref-height: 5px;
}

#slider_barVolume .thumb {
    -fx-background-color: rgba(0,0,0,0.08), linear-gradient(#00E9FF, #006069);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;

    -fx-border-insets: -1;
    -fx-border-radius: 5,5,4;
    -fx-border-color: #004F87;

    -fx-pref-width: 9px;
    -fx-pref-height: 9px;

    -fx-cursor: hand;
}

.root-player {
    -fx-background-color:
    linear-gradient(#EEEEEE 0%, #EEEEEE 48%, #dddddd 52%, #dddddd 100%);

    -fx-border-color: #0A5157 rgba(255, 255, 255, 0.0) #0A5157 rgba(255, 255, 255, 0.0);
    -fx-border-radius: 0;
}

.player-info-band {
    -fx-background-color: linear-gradient(#103a43 0%, #2d8e99 2%, #2d8e99 48%, #1b8091 52%, #1b8091 100%);
    -fx-background-radius: 4,4,4,4;

    -fx-border-color: linear-gradient(rgb(18, 59, 68) 0%, rgba(255, 255, 255, 0.0) 100%);
    -fx-border-radius: 4,4,4,4;
}

.player-buttons-banad {
    -fx-background-color: linear-gradient(#292c27 0%, #292c27 3%, #585858 3%, #585858 100%);
    -fx-background-radius: 4 4 0 0;

    -fx-border-color: linear-gradient(rgb(23, 20, 20) 0%, rgba(255, 255, 255, 0) 100%);
    -fx-border-radius: 4 4 0 0;
}

.player-button-icon {
    -fx-background-color: linear-gradient(#FFFFFF 0%, #DEE2E2 6%, #CCCCCC 100%);
    -fx-background-radius: 4 4 4 4;
    -fx-background-insets: 0, 6;

    -fx-border-color: linear-gradient(rgb(51, 51, 51) 60%, rgba(255, 255, 255, 0) 100%);
    -fx-border-radius: 4 4 4 4;

    -fx-padding: 2 2 2 2;
}

.button-icon {
    -fx-background-color:
    linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);

    -fx-border-insets: -2;
    -fx-border-radius: 3,3,3,3;
    -fx-border-color: linear-gradient(#222226, #a6b0b2);

    -fx-background-radius: 1,0,3;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-padding: 4 4 4 4;

    -fx-cursor: hand;
}

.button-icon:hover {
    -fx-background-color:
    linear-gradient(#25b0d1, #2443b1),
    linear-gradient(#dfdfdf 0%, #b9b9b9 20%, #afafaf 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);

    -fx-border-insets: -2;
    -fx-border-radius: 3,3,3,3;
    -fx-border-color: linear-gradient(#1b2226, #728db2);

    -fx-background-radius: 1,0,3;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-padding: 4 4 4 4;
}