.root {

}

.item {

}

.item:hover {
    -fx-background-color: #DDE0E4;
}

.button {
    -fx-background-color:
    linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);

    -fx-border-insets: -2;
    -fx-border-radius: 3,3,3,3;
    -fx-border-color: linear-gradient(#222226, #a6b0b2);

    -fx-background-radius: 1,0,3;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-padding: 2 5 2 5;
}

.button:hover {
    -fx-background-color:
    linear-gradient(#f2f2f2, #d6d6d6),
    linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
    linear-gradient(#dddddd 0%, #f6f6f6 50%);

    -fx-border-insets: -2;
    -fx-border-radius: 3,3,3,3;
    -fx-border-color: linear-gradient(#222226, #a6b0b2);

    -fx-background-radius: 1,0,3;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-padding: 4 7 4 7;
}